node_modules
.next
out
build
dist

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# Python
__pycache__/
*.pyc
.venv/
venv/

# Project artifacts
frontend/prisma/dev.db*
backend-ml/data/Fake.csv
backend-ml/data/True.csv
backend-ml/model/*.pkl

# Deploy
.vercel
